@{
    ViewBag.Title = "Tere tulemast peole!";
}
<div class="jumbotron">
    <h1> @ViewBag.greeting , Kallis sõber!</h1>
</div>
<div style=" font-size:25px;
            position: absolute;
            right: 200px;
            
        ">
    @ViewBag.Message
    <img  src="~/images/smile.jpg" />
</div>
<div>
    @Html.ActionLink("Vastan", "Ankeet", "Ankeet", new { @class = "btn btn-primary" })
</div>

